@media screen and (max-width: 1024px) {
  .masterhead {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .masterhead {
    max-width: 360px;
    margin: 0 auto;
  }
}
