.masterhead__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 850px;
  height: 578px;
  overflow: auto;
  display: block;
}

.masterhead__img:nth-of-type(2) {
  display: none;
}

.masterhead__img:last-of-type {
  display: none;
}

@media screen and (max-width: 1024px) {
  .masterhead__img:first-of-type {
    display: none;
  }

  .masterhead__img:nth-of-type(2) {
    display: block;
    width: 407px;
    height: 420px;
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .masterhead__img:nth-of-type(2) {
    display: none;
  }

  .masterhead__img:last-of-type {
    display: block;
    width: 360px;
    height: 152px;
    right: 0;
  }
}
