.header {
  padding-left: 73px;
  max-width: 1254px;
  margin: 0 auto;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-left: 0;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    visibility: hidden;
    opacity: 0;
  }
}
