.buttons__line_type_active {
  border: 2px solid #00a88e;
  width: 82px;
  margin-top: 8px;
  height: 0;
}

@media screen and (max-width: 1024px) {
  .buttons__line_type_active {
    margin-top: 4px;
  }
}
