.cards__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  width: 220px;
  height: 80px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cards__text {
    margin: 8px auto 0;
  }
}
